* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --textColor: rgb(255, 255, 255);
  --selected: rgb(88, 243, 79);
}

body {
  min-height: 100vh;
  background: linear-gradient(315deg, rgb(7, 5, 56) 0%, rgb(12, 12, 121) 100%);
  font-family: 'Montserrat', sans-serif;
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 90%;
  max-width: 400px;
}

button {
  margin-bottom: 1em;
}

.italic {
  font-style: italic;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.difficulte,
input[type="number"],
button {
  font-size: 18px;
  padding: 15px 30px;
  border: 3px solid var(--textColor);
  margin-bottom: 15px;
  border-radius: 5px;
  font-weight: 600;
}

.difficulte>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.difficulte.selected {
  border: 3px solid var(--selected);
  color: var(--selected)
}

.difficulte>p {
  color: var(--textColor);
  font-size: 0.6em;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: 300;
  display: none;
}

.difficulte.selected>p {
  display: block;
}

.difficulte.selected .checkmark {
  opacity: 100%;
  transform: scale(1);
}

.difficulte .checkmark {
  opacity: 0;
  transform: scale(0);
  transition: opacity 200ms, border 200ms, transform 200ms;
}

input[type="number"] {
  background-color: transparent;
  color: inherit;
  text-align: center;
  width: 100%;
}

input:focus {
  outline: none;
  border: 3px solid var(--selected);
}

a {
  color: var(--textColor);
  text-decoration: underline;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

p {
  margin-bottom: 1em;
}

button#create {
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin: 15px 0;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.error {
  color: rgb(179, 68, 68);
}